#header .ui.menu h1.item {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#header .ui.menu h1.item .ui.grid > .column:not(.row), .ui.grid > .row > .column {
	vertical-align: middle;
}

#header .ui.menu h1.item .title {
	width: inherit;
	font-size: 1.5rem;
	padding-left: 0;
}

#central {
	width: 850px;
	margin: 0 auto;
	padding-top: 4em;
}

#pass_securise {
	display: none !important;
}

header.cartouche {
	margin-bottom: 2em;
}

figcaption {
	text-align: left;
	color: #a1a1a1;
}

figcaption i.icon {
	margin: 0 0.5em;
}

.ui.breadcrumb {
	font-size: 0.8em;
}
