#header .ui.menu h1.item {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

#header .ui.menu h1.item .ui.grid > .column:not(.row), .ui.grid > .row > .column {
	vertical-align: middle;
}

#header .ui.menu h1.item .title {
	width: inherit;
	font-size: 1.5rem;
	padding-left: 0;
}

#central {
	max-width: 1000px;
	margin: 0 auto;
	padding-top: 4em;
}

#pass_securise {
	display: none !important;
}
